<div class="jumbotron">
<h1>Witaj w naszej aplikacji!</h1>
<p>Jest to niewielka strona przypominająca serwis społecznościowy Pinterest. Możemy logować się do aplikacji, dodawać zdięcia oraz opisy do nich. Mamy także możliwość edycji oraz usuwania dodanych pinów, które dodaliśmy ze swojego konta. W zakresie konta, możemy je usuwać, oraz zmieniać dane.</p>
<%= link_to 'O mnie', home_about_path, class: 'btn btn-default' %>
<%= link_to 'Strona główna', root_path, class: 'btn btn-primary' %>
</div>